@define-color foreground rgb(255, 255, 255);
@define-color background rgba(16, 16, 16, 0.9);

window#waybar {
    background-color: transparent;
    color: @foreground;
}

button {
    border: none;
}

#workspaces {
  background-color: rgb(64, 64, 64);
  border-radius: 16px;
  padding: 4px;
}

#workspaces button {
    padding: 0 12px;
    background-color: transparent;
    border-radius: 16px;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /*box-shadow: inset 0 -3px #ffffff;*/
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: rgba(100, 114, 125, 1);
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.visible {
    background-color: rgba(100, 114, 125, 0.5);
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 16px;
  border-radius: 16px;
}

#clock {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 16px;
  border-radius: 16px;
}

#language {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 16px;
  border-radius: 16px;
}
